.js-popover-layout {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.js-react-popover-component {
//  width: 300px;
//  height: 200px;
//  background: rgba(255, 0, 0, 0.3);
//  left: 500px;
//  top: 300px;
//  position: absolute;
  &.m-active {
    display: block;
  }
}