<div class="page full">
  <div class="page-title">
    <a href="#" class="logo"><img src="assets/mkzs-logo.png" alt="Менеджер КЗС"/></a>
  </div>
  <div class="container">
    <section class="main-desktop-title">
      <h3>Главный рабочий стол</h3>

      <div class="row-fuild clearfix edit-nav">
        <!--<div class="col-md-3 column">-->
          <!--<span class="edit-mode clearfix dropdown"><a type="button" class="ajax-link" href="#" id="dropdownMenu1" data-toggle="dropdown">Главный-->
            <!--рабочий стол</a><ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">-->
            <!--<li><a class="icon-pencil" href="#">Переименовать</a></li>-->
            <!--<li><a class="icon-trash" href="#">Удалить</a></li>-->
            <!--<li><a class="icon-block-1" href="#">Отмена</a></li>-->
            <!--<li class="other-desktop">-->
              <!--<span class="title">Другие столы</span><a class="rename" href="#">Диспетчерская</a><span class="widgets-count">12 виджетов</span><a class="rename" href="#">Общение</a><span class="widgets-count">3 виджета</span>-->
            <!--</li>-->
            <!--<li class="dropdown-arr"></li>-->
            <!--<li><a class="icon-plus-1" href="#">Добавить рабочий стол</a></li>-->
          <!--</ul><i>(режим редактирования)</i></span></div>-->
        <div class="col-md-3 col-md-offset-3 column">
          <button class="btn default-primary save" type="button">Сохранить изменения</button>
        </div>
        <div id="exit-edit" class="col-md-3 column"><a type="button" href="#">Выйти из режима редактирования</a></div>
      </div>
      <!--<div class="row clearfix add-widget">-->
        <!--<div class="col-md-9 col-md-offset-2 column"></div>-->
      <!--</div>-->

    </section>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="gridster">
          <ul>

            <li data-row="1" data-col="2" data-sizex="2" data-sizey="2" class="widget widget-docs">
              <a href="/documents">
                <span class="widget-name">Документооборот</span>
                <!--<span class="notifi">11</span>-->
              </a>
            </li>

            <li data-row="1" data-col="1" data-sizex="2" data-sizey="2" class="widget widget-admission">
              <a href="/permits">
                <span class="widget-name">Пропуска</span>
              </a>
            </li>


            <li data-row="3" data-col="5" data-sizex="2" data-sizey="1" class="widget widget-org">
              <a href="/organizations">
                <span class="widget-name">Организации и сотрудники</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="icon-pencil" id="edit-current-desktop">Редактировать рабочий стол</a>
  <a  class="icon-block-1" id="cancel-edit-current-desktop">Отмена</a>

      <%= link_to "Выйти", destroy_user_session_path, method: :delete, :class => 'btn-default btn-sm btn' %>

</div>