/.bundle
.rvmrc

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/test_images/*
/.idea
.DS_Store
.powrc

# Ignore assets and database.yml
/public/assets
/config/database.yml
config/database.yml

# Ignore mail server & credentials configuration
/config/mail.yml
config/mail.yml

# Ignore documentation
doc/*
.yardoc/*

# Ignore documents except ".keep"
/public/system/documents/*
!/public/system/documents/.keep
