/.bundle
.rvmrc
.DS_Store
.powrc

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.idea

# Ignore assets and database.yml
/public/assets

/config/database.yml
config/database.yml

# Ignore mail server & credentials configuration
/config/mail.yml
config/mail.yml

# Ignore documentation
doc/*
.yardoc/*
/test_images/*

# Общее правило для игнорирования контента в system
/public/system/*

# В каталоге system храним каталог documents за счет неигнорируемого файла .keep
# Остальные файлы игнорируем
!/public/system/documents
/public/system/documents/*
!/public/system/documents/.keep


