<%= library_section_caption 'Ссылки' %>

<div class="bs-example">
  <div class="row">
    <div class="col-sm-3"><a href="#" class="">обычная ссылка</a></div>
    <div class="col-sm-3"><a href="#" class="link">обычная ссылка с классом</a></div>
    <div class="col-sm-3"><a href="#" class="link-muted">малозаметная ссылка</a></div>
    <div class="col-sm-3"><a href="#" class="link-dashed">уточняющая ссылка</a></div>
  </div>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
  <a href="#" class="">обычная ссылка</a>
  <a href="#" class="link">обычная ссылка с классом</a>
  <a href="#" class="link-muted">малозаметная ссылка</a>
  <a href="#" class="link-dashed">уточняющая ссылка</a>
  }%></pre>
</div>
