<div class="container"><div class="row">

	<div class="span12">

	    <h1 class="doc_header">Задачи</h1>
	    <%= render 'panel' %>
	    <div id="tasks_table"><%= render 'table' %></div>
	</div>	
</div>
</div>