.container.m-login-page{
  //height: 100%;
  margin-top: -65px;
  position: relative;
}

.sign-in{
  height: 95%;
  min-height: 500px;
  position: relative;
  //margin-bottom: -50px;
  .container{
   height: auto;
    margin-top: 50px;
    position: relative;
  }

  h1 {
    margin: 40px 0 60px 0;
    color: $color-green-darker;
    text-align: center;
    font-weight: 100;
    font-size: $font-size-h1;
  }

  form {
    margin: 0 auto;
  }

}
