.server-title {
  position: relative;
  top: 0;
  width: 100%;
  height: 30px;
  color: $color-stern-blue-darker;
  font-size: 12px;
  line-height: 30px;
  display: none;
  a {
    color: $color-stern-blue-darker;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &.pre-demo {
    background: $color-blue-lighter;
  }
  &.dev {
    background: #e6b0aa;
    position: absolute;
    z-index: 1500;
  }
  &.demo {
    background: $color-orange-lighter;
  }
  &.work {
    background: #ebdef0;
  }
}