<html>
<head>
  <title>САКЭ КЗС. Письмо/акт/предписание № ххх согласовано и готово к подписи</title>
</head>
<body>
  Документ №ххх(линк) был согласован всеми согласующими.

  Теперь вы можете его подписать(линк).
</body>
</html>

