<html>
<head>
  <title>САКЭ КЗС. Изменение в письме/акте/предписании ххх</title>
</head>
<body>
  Документ №ххх(линк) был изменен. Состав изменений:
  — у документа появился другой составитель: вместо ХХХ стал YYY
  — у документа изменился состав согласующих: вместо A, B, C стали X, Y, Z
  — у документа появился другой исполнитель: вместо ХХХ стал YYY
  — у документа появилось другое контрольное лицо: вместо ХХХ стал YYY

  <a href="#">Посмотреть в САКЭ</a>
</body>
</html>




