<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="css/reset.css"/>
  <link rel="stylesheet" href="css/text.css"/>
  <link rel="stylesheet" href="css/960.css"/>
  <link rel="stylesheet" href="css/layout.css"/>
  <link rel="stylesheet" href="css/common.css"/>
  <link rel="stylesheet" href="css/control.css"/>
  <link rel="stylesheet" href="css/forms.css"/>
  <link rel='stylesheet' href="pages/dashboard.css"/>
  <script src="js/jquery.min.js"></script>
  <script defer="defer">
    $(function () {

    });
  </script>
</head>
<body>
<div id="content">
  <div id="top"><h1>Система автоматизированного контроля за эксплуатацией КЗС</h1></div>
  <div id="tiles">
    <h1>Главный рабочий стол</h1><a title="Настройки" class="control settings" href="#">Настройки</a>

    <div class="container_12">
      <div class="grid_4 tile_4">
        <div class="tile weather"><span class="label">Пятница, 8 Ноября 2013</span></div>
      </div>
      
      <div class="grid_2 tile_2">
        <div class="tile passes"><span class="label">Пропуска</span></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile documents"><span class="label">Документы</span><!-- <span class="events">15</span> --></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile profile"><span class="label">Профиль</span></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile default"><span class="label">Профиль</span></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile default"><span class="label">Профиль</span></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile default"><span class="label">Профиль</span></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile default"><span class="label">Профиль</span></div>
      </div>
      <div class="grid_2 tile_2">
        <div class="tile default"><span class="label">Профиль</span></div>
      </div>


      <div class="grid_4 tile_4">
        <div class="tile spy"><span class="label"></span></div>
      </div>
      <div class="grid_4 tile_2">
        <div class="tile library"><span class="label">Библиотека</span></div>
      </div>
      <div class="grid_4 tile_2">
        <div class="tile objects"><span class="label">Объекты</span></div>
      </div>
      <div class="grid_4 tile_2">
        <div class="tile people"><span class="label">Организации и сотрудника</span><!-- <span class="events">45 сообщений</span> --></div>
      </div>

    </div>
  </div>
  <div id="push"></div>
</div>
<div id="bottom">
  <a class="switch active" id="main">Главный рабочий стол</a> <a class="switch" id="controlroom">Диспетчерская</a> <a class="switch" id="communication">Общение</a> <a
  title="Настройки" class="switch control" id="settings">Настройки</a> <a class="switch" id="exit">Выйти</a>
</div>

</body>
</html>
