
<aside class="l-page__column left">
  <nav class="b-sidebar">
    <a href="/" class="main">
        <div class="icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
      <div class="text">Виджеты</div>
    </a>
    <a href="/statements" class="menu-link mail"><div class="icon"></div>
      <div class="text">Документы</div>
      <span class="bullet"></span>
    </a>
    <a href="/permits" class="menu-link placemark "><div class="icon"></div>
      <div class="text">пропуска</div>
    </a>
  </nav>
</aside>


<script>
  var a = document.location.pathname;
        console.log(a);
</script>