<ul class="nav nav-pills">
	
	
	<li>
		<%= f.submit "подготовить", :class => "btn btn-primary btn-sm", :name => "prepare" %>
	</li>
	
	<% if action?('new') %>
	<li>
		<%= f.submit "в черновики", :class => "btn btn-default btn-sm" %>
	</li>
	<% end %>

  </ul>