<h4>Лист замечания <%= "| Выполнен" if @task_list.completed %></h4>
<p>Срок исполнения: <%= @task_list.deadline.strftime('%d.%m.%Y') %>
<ul>
  <% @task_list.tasks.each do |task| %>
    <li><%= task.task %>
    <% if current_user.organization_id == @statement.sender_organization_id %> 
    <% if task.completed? %>
     | Выполнено
    <% else %>
     <%= link_to "Выполнить", execute_task_path(task), :class=> "btn" %>
     <br><br>
    <% end %>
    <% end %></li>
  <% end %>
</ul>