<div class="container">

  <ul class="row top-pannel clearfix">
    <li class="col-md-5">
      <h1 class="dropdown">Акты</h1>
    </li>
    <li class="col-md-3"></li>
    <li class="col-md-4 pull-right">
      <%= render 'shared/user' %>
    </li>

  </ul>
  <%= render 'panel' %>
</div>


<div class="container">

		  <div id="permits_table"><%= render 'table' %></div>

</div>
