.lib-prop{
  color: #D14;
  background: #eee;
  padding: 0 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
}

.lib-menu{
  padding: 5px;
  background: #efefef;

  ul {
    @extend .list-unstyled;
    margin-bottom: 20px;

    > li > a{
      display: inline-block;
      padding-bottom: 5px;
      line-height: 1;
    }

    ul {margin-left: 15px;}
  }

  // submenu

  font-size: 12px;

}