.lib-prop{
  color: #D14;
  background: #eee;
  padding: 0 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
}

.lib-menu{
  $bg: #f2f2f2;
  $link-color: #999;
  $offset: 5px;
  background: $bg;
  margin-top: 20px;

  // first level of menu
  ul {
    @extend .list-unstyled;
    margin-bottom: 15px;

    > li > a{
      padding: $offset;
      display: block;
      line-height: 1;
      color: $link-color;

      &, &:hover, &:active, &:focus, &:visited{
        text-decoration: none;
        color: darken($link-color, 15%);
      }

      &:hover, &:active, &:focus{
        background: darken($bg, 7%);
      }
    }

    // second level of menu
    ul{
      > li > a{
        padding-left: 3*$offset;
      }
    }
  }

  font-size: 12px;
}

.lib-section + .lib-section{
  margin-top: 30px;
}