.container {
  height: 100%;
  @include container-fixed();
}

.wrapper{
  height: 100%;
  position: relative;
}

.page-title {
  line-height: 42px;
  font-size: 22px;
  height: 42px;
  color: #c7c7c7;
  background: #ededed;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}