<h2>Кнопки</h2>

<p>
  для создания кнопки нужно любой элемент обернуть в css-классы <span class="lib-prop">.btn</span>
  и задать один из стилизующих css-классов <span class="lib-prop">.btn-primary</span>, <span class="lib-prop">.btn-success</span>, <span class="lib-prop">.btn-default</span>, <span class="lib-prop">.btn-link</span> или <span class="lib-prop">.btn-muted</span>
</p>
<div class="bs-example">
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default">Default</a>
  <a href="#" class="btn btn-link">Link</a>
  <a href="#" class="btn btn-link-muted">Link-muted</a>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default">Default</a>
  <a href="#" class="btn btn-link">Primary</a>
  <a href="#" class="btn btn-link-muted">Default</a>
  }%></pre>
</div>
