<h2>Кнопки</h2>

<p>
  примеры кнопок
</p>
<div class="bs-example">
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default">Default</a>
  <a href="#" class="btn btn-link">Link</a>
  <a href="#" class="btn btn-link-muted">Link-muted</a>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default">Default</a>
  <a href="#" class="btn btn-link">Primary</a>
  <a href="#" class="btn btn-link-muted">Default</a>
  }%></pre>
</div>
