<h2>Формы</h2>

<p>
  пример формы, когда описание и инпут выравнены по горизонтальной линии.
</p>
<div class="bs-example">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-4 control-label">Имя</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Иван">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Фамилия</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Иванов">
      </div>
    </div>
    <div class="form-group">
      <div class="form-inline">
        <label class="col-sm-4 control-label">Организация и должность</label>
        <div class="col-sm-3">
          <select class="form-control js-chosen">
            <option value="1">ООО Циклон</option>
            <option value="2">ООО Яндекс</option>
            <option value="3">ООО Apple</option>
          </select>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Должность">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox"> подтверждаю себя
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Получить приз</button>
        <a href="#" class="btn btn-default">Мне не нужен приз</a>
        <a href="#" class="btn btn-link-muted">Прочитать требования</a>
      </div>
    </div>
  </form>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{

  }%></pre>
</div>

