<h2 id="headers">Заголовки</h2>

<%= render 'library/headers/heading_variants' %>
<%= render 'library/headers/simple_nav' %>
<%= render 'library/headers/dropdown_nav' %>
<%= render 'library/headers/tab_menu' %>

