<h2>Заголовки</h2>

<h5>
  Варианты возможных заголовков
</h5>

<div class="bs-example">
  <div class="row">
    <div class="col-sm-6"><h1>Наивысший Заголовок</h1></div>
    <div class="col-sm-6">
      <div class="dropdown header">
        <h1 data-toggle="dropdown" class="dropdown-toggle">
          <a href="#" >Заголовок с dropdown
            <span class="caret"></span>
          </a>
        </h1>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">подпункт заголовка 1</a></li>
          <li><a href="#">подпункт заголовка 2</a></li>
          <li><a href="#">подпункт заголовка 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{

  }%></pre>
</div>