<h2 id="headers">Заголовки</h2>
<p>
  Для отрисовки шапки сайта используется хэлперы <span class="lib-prop">header_back_btn</span>, <span class="lib-prop">header_title</span>, <span class="lib-prop">header_search_form</span>
</p>

<%= render 'library/headers/heading_and_dropdown' %>
<%= render 'library/headers/edit_header' %>
<%= render 'library/headers/dropdown_nav' %>
<%= render 'library/headers/tab_menu' %>

