<h2 id='statuses'>Статусы</h2>

<div class="bs-example">
  <span class="label label-success">Success</span>
  <span class="label label-default">Default</span>
  <span class="label label-primary">Primary</span>
  <span class="label label-warning">Warning</span>
  <span class="label label-danger">Danger</span>
</div>
<div class="highlight">
  <pre class="prettyprint lang-html"><%= html_escape %q{
  <span class="label label-success">Success</span>
  <span class="label label-default">Default</span>
  <span class="label label-primary">Primary</span>
  <span class="label label-warning">Warning</span>
  <span class="label label-danger">Danger</span>

  <a href="#" class="label label-success">Success</a>
  <a href="#" class="label label-default">Default</a>
  <a href="#" class="label label-primary">Primary</a>
  <a href="#" class="label label-warning">Warning</a>
  <a href="#" class="label label-danger">Danger</a>
  }%></pre>
</div>
