<h2>Статусы</h2>

<p>
  примеры статусов
</p>
<div>
  <span class="label-success">Выпущен</span>
  <span class="label">Выпущен</span>
  <span class="label-error">Выпущен</span>
  <span class="label-danger">Выпущен</span>
</div>
<div>
  <p>
    статусы могут быть нескольких цветов
    <span class="lib-prop">.label</span>
    <span class="lib-prop">.label-success</span>
    <span class="lib-prop">.label-error</span>
  </p>
    <pre class="prettyprint lang-html"><%= html_escape %q{
        <span class="btn-available btn label-success">
            Выпущен
        </span>} %></pre>
</div>
