<h2>Статусы</h2>

<p>
  Примеры простых статусов.
</p>
<div>
  <span class="label label-success">Success</span>
  <span class="label label-default">Default</span>
  <span class="label label-primary">Primary</span>
  <span class="label label-error">Error</span>
  <span class="label label-danger">Danger</span>
</div>
<div>
  <pre class="prettyprint lang-html"><%= html_escape %q{
        <span class="label label-success">Success</span>
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-warning">Error</span>
        <span class="label label-danger">Danger</span>
  }%></pre>
</div>

<p>
  Примеры простых статусов-кнопок.
</p>
<div>
  <a href="#" class="label label-success">Success</a>
  <a href="#" class="label label-default">Default</a>
  <a href="#" class="label label-primary">Primary</a>
  <a href="#" class="label label-warning">Error</a>
  <a href="#" class="label label-danger">Danger</a>
</div>
</div>
