<div class="nav nav-pills">
	
	<li>
		<%= f.submit "На подпись", :class => "btn btn-primary btn-sm", :name => "prepare" %>
	</li>
	<% if @document.user_id == current_user.id || action?('new') %>
	<li>
		<%= f.submit "Сохранить в черновики", :class => "btn btn-default btn-sm", :name => "to_draft" %>
	</li>
	<% end %>
	
	<li>
		<%= link_to 'Отмена', :back, :class => "btn btn-default btn-sm" %>
	</li>

</div>