<% if @document.statements.empty? && @document.task_list.completed && @document.task.completed %>
    <p><%= link_to "Создать АКТ", new_statement_path(:document_id => @document.id) %>
<% elsif @document.statements.present? %>
    <h5>Акты</h5>
    <ul>
    <% @document.statements.each do |statement| %>
	    <li><%= link_to statement.title, statement_path(statement) %></li>
	<% end %>
	</ul>
<% end %>