.container
  ul.row.top-pannel.clearfix
    li.col-md-8
      = link_to "Назад", :back, :class => "btn btn-sm back-btn"  if action?('new')
      h1
        - if params[:type] == 'mail'
          | Новое письмо
        - elsif params[:type] == 'writ'
          | Новое распоряжение

    li.col-md-4.pull-right
      = form_tag documents_path, method: :get, :remote => true, :id => "text-search" do
        = render 'shared/user'
  = form_for(@document, :html => {:class => "form new-doc row-fuild"}) do |f|
    - if action?('new')
      = f.hidden_field :document_type, :value => params[:type]
    - elsif action?('reply')
      = f.hidden_field :document_type, :value => @original_document.document_type
    - else
      = f.hidden_field :document_type, :value => @document.document_type
      = f.hidden_field :document_conversation_id, :value => @document_conversation_id
    span.form-item
      = f.text_field :title, :class => 'form-control col-xs-7', :placeholder => 'Тема'
    span.form-item
      = f.collection_select(:organization_ids, Organization.where('id != ?', current_user.organization_id), :id, :title, {:include_blank => false, :selected => @document.organization_id}, {multiple: true, :'data-placeholder' => "Организация-получатель", :class => 'form-control col-xs-7 pull-left'})
      span.col-xs-2.hint
        = link_to "Все организации", "#", :id => 'select_all_organizations'
    - if @document.document_type == 'writ' || action?('new') && params[:type] == 'writ'
      span.form-item
      = f.text_field(:deadline, :class => 'form-control col-xs-2 pull-left', :placeholder => 'Дата исполонения')
      span.col-xs-2.hint
        Дата исполнения

      span.form-item
        = f.collection_select(:approver_ids, @approvers, :id, :first_name_with_last_name, {:selected => @document.approver_id}, {multiple: true, :'data-placeholder' => "Контрольное-лицо", :class => 'form-control col-xs-7'})
      span#approver_info
      span.form-item
        = f.collection_select(:executor_ids, @executors.all, :id, :first_name_with_last_name, {:selected => @document.executor_id}, {multiple: true, :'data-placeholder' => "Исполнитель", :id => "document_executor_ids", :class => 'form-control col-xs-7'})
      span#executor_info
      span.form-item
        = f.text_area :text, :placeholder => 'Текст', :rows => "14", :class => "form-item form-control col-xs-12"
      .form-item.docsFiles

    - if @document.document_type == 'writ' || params[:type] == 'writ'
      span.col-xs-6

      h4
        | Прикрепленные задачи
      .taskCard
        = f.fields_for :task_list do |builder|
          = render 'documents/task_list_fields', f: builder
      span.col-xs-6

      h4
        | Прикрепленные файлы
      .attachCard
        = f.fields_for :document_attachments do |builder|
          = render 'documents/document_attachment_fields', f: builder
          = link_to_add_attachments "Прикрепить файл", f, :document_attachments
    h4.col-md-12
      a.addDocBut
        | Прикрепить документы
    .col-md-12.addDocuments
      = hidden_field_tag "document[document_ids][]", nil
      - @documents.each do |document|
        label.checkbox
          = check_box_tag "document[document_ids][]", document.id, @document.document_ids.include?(document.id), id: dom_id(document)
          b
            = document.title
          /= if document.document_type.present? then t(document.document_type) end  || = Russian::strftime(document.created_at, "%d %B %Y %H:%M")
    .col-md-12
      = render 'documents/actions_form', :f => f