<div class="col-lg-12 row-fuild">

  <%= f.fields_for :tasks do |builder| %>
    <%= render 'task_fields', f: builder %>
  <% end %>
  <!--<div id="inputs"></div>-->

  <!--<b class="btn-primary btn dropdown icon-plus add_task_button" data-toggle="dropdown">Добавить задачу</b>-->

  <%= link_to_add_fields "Добавить задачу", f, :tasks %>

</div>