<div class="col-lg-12 row-fuild">
    
  <!--<%= f.fields_for :tasks do |builder| %>-->
    <!--<%= render 'tasks_fields', f: builder %>-->
  <!--<% end %>-->
  <div id="inputs"></div>

  <b id="add-task" class="btn-primary btn-sm btn dropdown icon-plus" data-toggle="dropdown">Добавить задачу</b>

  <ul id="bubbleForm" class="dropdown-menu dropdown-form col-md-4" role="menu">
    <li class="form-group clearfix">
      <label class="sr-only" for="new-task"></label>
      <textarea name="" id="textTask" cols="30" rows="5" placeholder="Суть задачи"></textarea>
    </li>
    <li class="dropdown-arr"></li>
    <li class="split-btn">
      <a href="#" class="icon-ok">Создать</a>
      <a href="#" class="icon-block-1">Отмена</a>
    </li>
  </ul>
</div>