.container
  = render 'documents/form'
  #myModal.modal.fade[tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"]
    .modal-dialog
      .modal-content
        .modal-header
          button.close[type="button" data-dismiss="modal" aria-hidden="true"]
            | ×
          h4#myModalLabel.modal-title
            | Modal title
