/*permits*/
#permit_vehicle_id, #temoporary_fields, #permit_user_fields, #temporary_permit_fields {
  display: none;
}

.dynamic-table {
  tr {
    cursor: pointer;
    &.opened {
      cursor: default;
      td{
        background: #f7fffd;
     //   display: none;
        &.inform{
          display: table-cell;
        }
      }
    }
  }
}