%html
  %head
    %title The page you were looking for doesn't exist (404)
    %body
    .body-error
      .dialog
        %h1
          Произошла ошибка.
          %br
            Приносим извинения за неудобство.
        %p
          Отчет об ошибке автоматически выслан в службу поддержки.
          %br
            В течение десяти секунд Вы будете перенаправлены на страницу виджетов.
            %br
              Если это не произошло, пожалуйста, пройдите по
              = succeed "." do
                %a{:href => "#"} этой ссылке