<td colspan="8" class="inform">
  <div>
    <table class="sub-table">
      <tr>
        <td width="64"></td>
        <td width="79">79</td>
        <td width="317"><a href="/permits/79">awdaw dawdawd</a></td>
        <td width="107">
          <img alt="Propusk-daily" src="/assets/old/propusk-daily.png">
        </td>
        <td width="106">15.15.15</td>
        <td width="110">15.15.15</td>
        <td class="status"><span class="btn-available btn label-info">Согласован</span></td>
        <!--<td><a href="/permits/79">Подробнее</a></td>-->
      </tr>
    </table>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="30" aria-valuemax="100">
        <span class="sr-only">100%</span>
      </div>
      <span class="progress-label">Общий срок действия: 12 месяцев</span>
    </div>
  </div>

</td>