<%= library_section_caption 'Кнопки' %>

<p>
  для создания кнопки нужно любой элемент обернуть в css-классы <span class="lib-prop">.btn</span>
  и задать один из стилизующих css-классов
  <span class="lib-prop">.btn-primary</span>,
  <span class="lib-prop">.btn-success</span>,
  <span class="lib-prop">.btn-default</span>,
  <span class="lib-prop">.btn-link</span>,
  <span class="lib-prop">.btn-muted</span>.
  Для создания округлой кнопки только с иконкой, добавьте к кнопке класс
  <span class="lib-prop">.btn-icon</span>
</p>

<p>
  Если текст в кнопке нужно принудительно разделить на две строки, то добавьте css-класс <span class="lib-prop">.btn-divide-by-word</span>
  и оберните каждый перенос строки в отдельный элемент <span class="lib-prop">span</span>
</p>

<p>
  Если стоит задача отцентровать текст в кнопке по правому или краю,то добавьте css-классы:
  <span class="lib-prop">.text-right</span>
  <span class="lib-prop">.text-left</span>
</p>
<div class="bs-example">
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default">Default</a>
  <a href="#" class="btn btn-link">Link</a>
  <a href="#" class="btn btn-link-muted">Link-muted</a>
  <a href="#" class="btn btn-primary btn-icon"><span class="fa fa-sign-out"></span></a>
  <a href="#" class="btn btn-link btn-no-hover">Link-no-hover</a>
  <a href="#" class="btn btn-link-muted btn-no-hover">Link-no-hover</a>
  <a href="#" class="btn btn-primary btn-divide-by-word"><span>top line</span><span>& bottom</span></a>
  <a href="#" class="btn btn-primary btn-divide-by-word text-right"><span>top</span><span>& bottom line</span></a>
  <a href="#" class="btn btn-primary btn-divide-by-word text-left"><span>top</span><span>& bottom line</span></a>

</div>
<div class="highlight">
  <ul class="nav nav-pills lib-control-tabs">
    <li><a href="#buttons-slim" data-toggle="tab">slim</a></li>
    <li><a href="#buttons-html" data-toggle="tab">html</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" id="buttons-slim">
      <pre class="prettyprint linenums lang-ruby"><%= html_escape %q{
  = link_to Primary, '#', class: 'btn btn-primary'
  = link_to Default, '#', class: 'btn btn-default'
  = link_to Link, '#', class: 'btn btn-link'
  = link_to Link-muted, '#', class: 'btn btn-link-muted'

  = link_to '#', class: 'btn btn-primary btn-icon' do
    .span.fa.fa-sign-out

  = link_to Link-no-hover, '#', class: 'btn btn-link btn-no-hover'
  = link_to Link-no-hover, '#', class: 'btn btn-link-muted btn-no-hover'

  = link_to '#', class: 'btn btn-primary btn-divide-by-word' do
    .span top line
    .span & bottom

  = link_to '#', class: 'btn btn-primary btn-divide-by-word text-right' do
    .span top line
    .span & bottom

  = link_to '#', class: 'btn btn-primary btn-divide-by-word text-left' do
    .span top line
    .span & bottom
      }%></pre>
    </div>

    <div class="tab-pane" id="buttons-html">
      <pre class="prettyprint linenums lang-html"><%= html_escape %q{
  <a href="#" class="btn btn-primary">Primary</a>
  <a href="#" class="btn btn-default">Default</a>
  <a href="#" class="btn btn-link">Link</a>
  <a href="#" class="btn btn-link-muted">Link-muted</a>
  <a href="#" class="btn btn-primary btn-icon"><span class="fa fa-sign-out"></span></a>
  <a href="#" class="btn btn-link btn-no-hover">Link-no-hover</a>
  <a href="#" class="btn btn-link-muted btn-no-hover">Link-no-hover</a>
  <a href="#" class="btn btn-primary btn-divide-by-word"><span>top line</span><span>& bottom</span></a>
  <a href="#" class="btn btn-primary btn-divide-by-word text-right"><span>top</span><span>& bottom line</span></a>
  <a href="#" class="btn btn-primary btn-divide-by-word text-left"><span>top</span><span>& bottom line</span></a>
      }%></pre>
    </div>
  </div>
</div>
