<%= library_item_caption 'Вариант шапки страницы c dropdown' %>
<%= library_example do %>

  <div class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="#" class="btn btn-default">
        <span class="fa fa-arrow-left"></span>
        <span>назад</span>
      </a></li>

      <li>
        <div class="dropdown header">
          <h1 data-toggle="dropdown" class="dropdown-toggle">
            <a href="#" >Заголовок с dropdown
              <span class="caret"></span>
            </a>
          </h1>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">подпункт заголовка 1</a></li>
            <li><a href="#">подпункт заголовка 2</a></li>
            <li><a href="#">подпункт заголовка 3</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="search" class="form-control js-input-with-icon" placeholder="поиск по сущности">
        <span class="input-group-icon search"></span>
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="btn btn-link-muted btn-divide-by-word text-right btn-no-hover extra-right-padding">
          <span>Иван</span><span>Иванович</span></a>
      </li>
      <li>
        <a href='#' class="btn btn-default btn-icon"><span class="fa fa-sign-out"></span></a>
      </li>
    </ul>

  </div>

<% end %>
<%= highlight_named_code slim: %Q{
= library_example do
  .navbar
    ul.nav.navbar-nav
      li
        a.btn.btn-default href="#"
          span.fa.fa-arrow-left
          span назад
      li
        .dropdown.header
          h1.dropdown-toggle data-toggle="dropdown"
            a href="#"
              | Заголовок с dropdown
              span.caret
          ul.dropdown-menu role="menu"
            li
              a href="#"  подпункт заголовка 1
            li
              a href="#"  подпункт заголовка 2
            li
              a href="#"  подпункт заголовка 3
    form.navbar-form.navbar-left
      .input-group
        input.form-control.js-input-with-icon placeholder=("поиск по сущности") type="search"
          span.input-group-icon.search
    ul.nav.navbar-nav.navbar-right
      li
        a.link-muted.btn-divide-by-word.text-right.btn-no-hover
          span Иван
          span Иванович
      li
        a.btn.btn-default.btn-icon href="#"
          span.fa.fa-sign-out
} %>