<h5 id="headers-edit-header">
  Вариант шапки на странице редактирования
</h5>
<div class="bs-example">
  <div class="navbar"><ul class="nav navbar-nav"><li><a href="#" class="btn btn-default"><span class="fa fa-arrow-left"></span><span>назад</span></a></li><li class="brand"><h1><span>Заголовок</span><span></span><span class="text-muted"></span></h1><div class="text-help">(Поясняющий текст)</div></li></ul><ul class="nav navbar-nav navbar-right"><li><a href="#" class="link-muted btn-divide-by-word text-right btn-no-hover"><span>Юлий</span><span>Верховцев</span></a></li><li><a href="/users/sign_out" class="btn btn-default btn-icon" data-method="delete" rel="nofollow"><span class="fa fa-sign-out"></span></a></li></ul></div>
</div>

<div class="highlight">
  <ul class="nav nav-pills lib-control-tabs">
    <li><a href="#edit-header-slim" data-toggle="tab">slim</a></li>
    <li><a href="#edit-header-html" data-toggle="tab">html</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" id="edit-header-slim">
      <pre class="prettyprint linenums lang-ruby"><%= html_escape %q{
  = content_for :page_header do
    = header_back_btn resource_path
    = header_title do
      h1
        | Заголовок
      .text-help
        | (Поясняющий текст)
      }%></pre>
    </div>

    <div class="tab-pane" id="edit-header-html">
      <pre class="prettyprint linenums lang-html"><%= html_escape %q{
  <div class="navbar">
    <ul class="nav navbar-nav">
      <li>
        <a href="#" class="btn btn-default"><span class="fa fa-arrow-left"></span><span>назад</span></a>
      </li>
      <li class="brand">
        <h1>
          <span>ООО Циклон</span><span>, </span><span class="text-muted">ООО</span>
        </h1>
        <div class="text-help">(Режим редактирования)</div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" class="link-muted btn-divide-by-word text-right btn-no-hover">
          <span>Юлий</span><span>Верховцев</span>
        </a>
      </li>
      <li>
        <a href="/users/sign_out" class="btn btn-default btn-icon" data-method="delete" rel="nofollow">
          <span class="fa fa-sign-out"></span>
        </a>
      </li>
    </ul>
  </div>
      }%></pre>
    </div>
  </div>
</div>