<%= library_section_caption 'Заголовки' %>

<p>
  Для отрисовки шапки сайта используется хэлперы <span class="lib-prop">header_back_btn</span>, <span class="lib-prop">header_title</span>, <span class="lib-prop">header_search_form</span>
</p>


