<h5 id="headers-simple-nav">
  Вариант шапки страницы c заголовком
</h5>
<div class="bs-example">

</div>

<div class="highlight">
  <ul class="nav nav-pills lib-control-tabs">
    <li><a href="#simple-nav-slim" data-toggle="tab">slim</a></li>
    <li><a href="#simple-nav-html" data-toggle="tab">html</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" id="simple-nav-slim">
      <pre class="prettyprint linenums lang-ruby"><%= html_escape %q{
  = content_for :page_header do
    = header_back_btn resource_path
    = header_title do
      h1
        | Организация, Тип
      .text-help
        | (Режим редактирования)
      }%></pre>
    </div>

    <div class="tab-pane" id="simple-nav-html">
      <pre class="prettyprint linenums lang-html"><%= html_escape %q{

      }%></pre>
    </div>
  </div>
</div>