<h5 id="headers-simple-nav">
  Вариант шапки страницы c заголовком
</h5>
<div class="bs-example">
  <div class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="#" class="btn btn-default">
        <span class="fa fa-arrow-left"></span>
        <span>назад</span>
      </a></li>

      <li><h1>Наивысший Заголовок</h1></li>
    </ul>

    <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="search" class="form-control js-input-with-icon" placeholder="поиск по сущности">
        <span class="input-group-icon search"></span>
      </div>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="link-muted btn-divide-by-word text-right btn-no-hover">Иван Иванович</a>
      </li>
      <li>
        <a href='#' class="btn btn-default btn-icon"><span class="fa fa-sign-out"></span></a>
      </li>
    </ul>

  </div>
</div>