/*btns*/

.inform-hide{
  position: absolute;
  bottom: 0;
  left: 50%;
  background: white;
  border: 1px solid;
  width: 100px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.btn {
  background: #F2F2F2;
  color:#979797;
  font-size: 13px;
  border: none;
  text-decoration:none;
  .dropdown-toggle {
    padding:0;
    text-decoration:none;
  }
  a {
    color:inherit;
  }
  .caret {
    border-top-color:inherit;
    margin-left: 5px;
  }
  &:hover {
    color:#000;
    background: #cfcfcf;
  }
}

 > li > a {
  border-radius: 90px;
}

.default-primary {
  background: #76d4ce;
  color: #fff;
  font-size: 13px;
  &:hover, &:focus {
    background: #1BBC9B;
    color: #fff;
  }
}

.btn-sm {
  min-height: 38px;
  line-height: 38px;
  padding: 0 12px;
//  &.icon-plus {
//    padding-left: 34px;
//    &:before {
//      font-size: 22px;
//      position: absolute;
//      left: 8px;
//      top: 8px;
//    }
//  }
}

.back-btn:before {
    left: -3px;
}

.add-new, .add-widget-btn {
  color: #17a488;
  font-size: 22px;
  position: relative;
  padding-left: 54px;
  &:hover, &:focus {
    color: #17a488;
    font-size: 22px;
    position: relative;
  }
   span {
    border-radius: 100px;
    background: #17a488;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #fff;
    position: absolute;
    left:0;
  }
} 

.add-widget-btn {
  span {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: 40px;
    top: -3px;
  }
}

.add-new {
  padding-left:36px;
   span {
    width:26px;
    height:26px;
    line-height:26px;
    top:2px;
    font-size:18px;
    &:before {
      left:0;
    }
  }
}

.btn-primary {
  color:#fff;
  background: #1abc9c;
  &:hover, &:focus {
    color:#fff;
    background: #00a499;
    .caret {
      border-top-color:#fff;
    }
  }
}

.power-btn {
  border-radius: 9px;
  font-size: 16px;
  padding: 4px;
  border-radius: 9px;
  font-size: 16px;
  padding: 4px;
  height: 30px;
  width: 30px;
  line-height: 25px;
}

.power-btn:before {
  top: -2px;
  margin: 0 auto;
  color:#979797;
}

.btn.btn-available, .btn.btn-available:hover {
  background-color: #c4f2e4;
  color: #00a499;
}

.icon-cog:before {
  font-size: 18px;
  top: 0;
}

.dropdown-menu {
  .back-btn {
    background: none;
    color: #808080;
    border: 3px solid #808080;
    text-decoration: none;
    float: left;
    display:inline-block;
     &:hover {
      border-color:#fff;
    }
  }
}

#add-task.icon-plus {
  font-size: 22px;
  border-radius:10px;
  text-align: center;
  padding: 0 35px 0 52px;
  &:before {
  left:11px;
  top: 8px;
  position: absolute;
  }
}

.download-link {
  color: #428bca;
  text-decoration:underline;
  font-size:13px;
  &:focus, &:hover {
    color: #428bca;
  }
}