#permit_vehicle_id, #temoporary_fields, #permit_user_fields, #temporary_permit_fields {
  display: none;
}

#permit_start_date {
  width: 103px;
  font-size: 13px;
  text-indent: 6px;
}

#permit_expiration_date {
  width: 130px;
  font-size: 13px;
  text-indent: 8px;
}

#permit_date {
  width: 80px;
  font-size: 13px;
  text-indent: 6px;
}

.permit_label {
  margin-right: 20px;
}