<%= @organization.title %>
<div class = 'tab-pane data-grid'>
    <div class='h1 col-md-12' style="color:#1BA0E1;;">
      Реквизиты
    </div>
    <% params_order = [:bank_title, :bank_address, :bank_correspondent_account, :bank_bik, :bank_inn, :bank_kpp,
                       :bank_okved, :organization_account, :legal_address, :actual_address ] %>

    <div class = 'col-md-5'>
        <% params_order.each do |param| %>
          <div class='data-label'>
            <%= t("activerecord.attributes.organization.#{param.to_s}") %>
          </div>
          <div class='data-value'>
            <%= organization.public_send(param.to_sym) %>
          </div>
        <% end %>
    </div>
</div>