<div class="container">
  <ul class="row top-pannel clearfix">
    <li class="col-md-8">
      <%= link_to " назад", :back, :class => "btn btn-sm back-btn" %>
      <h1 class="doc_header"><%= @organization.title %></h1>
    </li>
    <li class="col-md-4 pull-right">
      <%= render 'shared/user' %>
    </li>
  </ul>
