<div class="row">
	<%= render 'shared/left' %>
	<div class="span12">
		  <%= render 'shared/user' %>
	    <h1 class="doc_header">Все контрагенты</h1>
	    <%= render 'panel' %>
	    <div id="organizations_table"><%= render 'table' %></div>
	</div>	
</div>
