span.spec-doc-action-buttons
  - %w(prepared).each do |state|
    - if resource.allowed_transitions.include?(state) && can_apply_state?(state, resource) && resource.current_state.to_s != 'prepared'
      = change_state_link_to(resource, state, class: 'btn btn-primary')

  - %w(approved sent accepted read pending).each do |state|
    = change_state_link_to(resource, state, class: 'btn btn-primary') if resource.allowed_transitions.include?(state) && can_apply_state?(state, resource)

  = link_to 'Редактировать', edit_polymorphic_path(resource.object), \
                              confirm: 'Переход в режим редактирования автоматически назначит вас составителем и список согласующих будет сброшен в первоначальное состояние. Продолжить?', \
                              class: 'btn btn-default', \
                              data: { agree_txt: 'да, сменить автора' } if resource.allowed_transitions.include?('prepared') && can?(:update, resource.document)

  - %w(rejected).each do |state|
    = change_state_link_to(resource, state, class: 'btn btn-danger') if resource.allowed_transitions.include?(state) && can_apply_state?(state, resource)

  - %w(draft).each do |state|
    = change_state_link_to(resource, state, class: 'btn btn-default') if resource.allowed_transitions.include?(state) && can_apply_state?(state, resource)

  = link_to 'Удалить', documents_document_path(resource.document),
                      method: :delete,
                      class: 'btn btn-danger',
                      confirm: 'После удаления документ нельзя будет восстановить. Продолжить?',
                      data: { type: 'danger', agree_txt: 'удалить' } if resource.document.can_delete?
