= f.input :title
= f.input :body
= f.input :serial_number
= f.input :confidential
= f.association :sender_organization
= f.association :recipient_organization
= f.association :executor
= f.association :approver
