.voter {
  margin-bottom: 12px;
}

.voter-name {
  font-size: 16px;
  line-height: 26px;
  a {
    cursor:pointer;
    margin-right: 10px;
  }
}

._confirmation {
  i{
    padding-right: 5px;
    position: relative;
    top: 4px;
  }
  .media {
    margin-bottom: 15px;
  }

  ._comment-title{

    ._comment-date{
      display: inline-block;
      color: $color-cloud-darker;
      margin-left: 5px;
    }
  }


}