// виджет количества проголосовавших
// он меняет свой вид в зависимости от положения курсора мыши
// при наведении мыши, мы скрываем один блок и показываем другой (это js скрипт делает)
// для работы используется жесткая структура
//  div._document-conform-status
//      span.fa
//      span.text.invisible
//
// span.text стоит в статусе .invisible, чтобы ячейки не прыгали, когда скрываем/показываем его (visible: hidden)
// а иконку позиционируем абсолютно по той же причине
._document-conform-status{
  position: relative;
  .fa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }
}