$el: '._document';
$img-width: 80px;

#{$el}{
  @extend .b-offset-sm !optional;
  @extend .col-sm-6 !optional;
  @include clearfix();
  display: inline-block;
  float: none;
  vertical-align: top;
}

#{$el}__img{
  float: left;
  max-width: $img-width;
  margin-right: $padding-base-horizontal;
  img { height: auto; width: 100%; }
}
#{$el}__title, #{$el}__controls, #{$el}__organizations-links{
  @extend .b-offset-xs !optional;
  padding-left: $img-width;
}