._doc-state{
  $color: $gray-light;

  min-width: 300px;
  max-height: 400px;
  overflow-y: scroll;
}
._doc-state__header{
    $color: $gray-light;
    padding: 20px 20px 10px;

    h5, h6{ @extend .text-help !optional; }
    h3, h4{ font-family: $font-family-sans-serif-light}

    h3, h4, h5, h6, .h3, .h4, .h5, .h6{
      color: $color;
      text-align: center;
      display: block;
      padding: 0;

      &.__left{text-align: left;}
    }

    .h4{padding-bottom: 12px;}
  }

._doc-state__progress{
    margin: 0 10px 20px;
  }

._doc-state__actions{
  $color: $gray-light;
    $padding: 10px 20px;
    a{
      display: block;
      padding: $padding;
      border-top: 1px solid $color;

      @include links-all-states{
        text-decoration: none;
        color: $color;
        cursor: pointer;
      }

      @include links-active-states{
        background: #000;
      }

      @include icon-offset(5px);
    }

    h3, h4, h5{ color: $color; }

    .h6{
      @extend .text-help !optional;
      color: $color;
      padding: $padding;
    }
  }


.vit{
  & __vit-class{ text: red; }
}

