// подключаем спрайты через compass к диаграмме гантта
@import "gantt-icons/*.png";
@import "notification-icons/*.png";

.gantt-main{
  width: 100%;
  top:-40px;
  padding-top: 40px;
  position: relative;
  & > div{
    display: inline-block;
    height: 100%;
    width: 50%;
    position:relative;
    border-right: 3px solid $color-gray;
    border-left: none;
//    overflow-y: scroll;
  }
  & > #gantt_here{
    top:-40px;
    border: none;
    overflow-y: hidden;
  }

  // особые стили для отрисовки таблицы рядом с диаграммой
  .table.new > thead > tr > th,
  .table.new > thead > tr > td,
  .table.new > tbody > tr > th,
  .table.new > tbody > tr > td,
  .table.new > tfoot > tr > th,
  .table.new > tfoot > tr > td{
    white-space: nowrap;
    position: relative;
    padding: 5px 5px 6px;
    .table-filter{
      position: absolute;
      right: 0;
    }
  }

  .table.new > thead > tr > th {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

  }

  .table.new > tbody > tr > td {
    overflow-x: hidden;
  }


  /*td {
    box-sizing: border-box;
    height: 34px;
    padding: 4px!important;
  }
  thead{
    position: absolute;
    right: 0;
    left: 0;

  }
  tbody{

    position: absolute;
    top:33px;
    right: 0;
    left: 0;
    bottom: 15px;
    overflow-y: scroll;
    tr{
      max-height: 34px;
      display: block;
      overflow: hidden;
    }
    .title{
      width: 50px;
    }
  }*/
}

.gantt_line_wrapper div{
  background-color: transparent;
  border: dashed 1px lighten($color-blue, 30);
}
.gantt_task_link:hover .gantt_line_wrapper div{box-shadow: none}
.gantt_link_arrow_right {
//  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent lighten($color-blue, 30);
  margin-top: -1px;}
.gantt_task_link .gantt_link_arrow_right{border-width:0px;margin-top: -2px;}

.gantt_task_content > .task_flag_container {
  position: absolute;
  left: 0;
  top: 0;
}

#gantt_here_local{
  height: 130px;
}
.task_notifications_container{
  position: absolute;
  right: 0;
}
.gantt_task_control{
  position: absolute;
  width:20px;
  height: 20px;
  background: white;
  display: none;
  margin-left: -10px;
  margin-top: -5px;
  border: 3px solid #27ae60;
  color: #27ae60;
  font-size: 19px;
  border-radius: 4px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  &.active{
    color: #2980b9;
    border-color: #2980b9;
  }
}

//.task_flag_container{
//  position: relative;
//  top: 11px;
//}

.task_flag {
  @include gantt-icons-sprite(flag-gray);
  width: 30px;
  height: 30px;
  position: absolute;
  top: -20px;
  margin-left: 10px;
  cursor: pointer;
  &.f-unchecked{
    @include gantt-icons-sprite(flag-red);
  }
  &.f-checked{
    @include gantt-icons-sprite(flag-green);
  }
  &.active{
    @include gantt-icons-sprite(flag-active);
  }
}

.gantt_task_line{
//  height: 6px;
  border: none;
  border-radius: 0;
  z-index: 5;

  &:hover,&.gantt_selected{
    height: 10px!important;
  }

  &.activated{
    background-color: $color-blue-lighter;
  }
  &.cancelled{
    background-color: $color-midnightblue-lighten;
  }
  &.formulated{

    background-color: lighten($color-yellow-darker, 20);
    &.gantt_selected{
      background-color: $color-orange;
    }
  }
  &.paused{
    background-color: $color-silver-lighten;
  }
  &.executed{
    background-color: $color-sea-green-lighten;
  }
}

.gantt_task_drag{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAWAQMAAADQP9/qAAAAA1BMVEUxMTEVULX1AAAAC0lEQVQI12MgAQAAACwAAReYEKYAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  width: 2px;
}



.task_notifications_container{

  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 20px;
  top: 0;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  margin-top: -7px; 
  &.paused{
    @include notification-icons-sprite(paused);
    color: $color-silver-lighten;
  }
  &.formulated{
    @include notification-icons-sprite(formulated);
    color: rgb(204,55,0);
  }
  &.activated{
    @include notification-icons-sprite(activated);
    color: $color-blue-lighter;
  }
  &.canceled{
    @include notification-icons-sprite(canceled);
    color: $color-midnightblue-lighten;
  }
}

.gantt_task_cell{
  cursor: url('/assets/cursors/grab.cur'), pointer;
  &:active{
    cursor: url('/assets/cursors/grabbing.cur'), pointer;
  }
}


