
// стиль для изображения-заглушки разрабатывающихся модулей
// предпологается,что изображение имеет прозрачный фон
// а отступами мы подкладываем его под сайдбар и заголовок
._mock-module-img{
  margin-left: -90px;
  margin-top: -90px;

  // по умолчанию скрываем изображения
  display: none;

  &.m-visible{ display: block; }
}