.btn-login{
  background-color: #ededed;
  color: #999999;
  border-radius: 15px;
  padding-right: 25px;
  &.active{
    background-color: #1ba0e1;
    color:#fff;
    box-shadow: none;
  }
  .caret{
    display: inline-block;
    position: absolute;
    top: 42%;
    right: 11px;
  }
}

$el: '._user-bar';

#{$el}{

  font-family: open_sans, arial, sans-serif;

  &::before{
    right: 21px;
    left: auto;
  }


  .btn-group-vertical{
    .btn{
      border-top:
         #666666 solid 1px;

      text-align: left;
      i{
        font-size: 22px;
        margin-right: 20px;
      }
    }
  }

  background: rgba(0,0,0,0.8);
  right: 0;
  margin-top: 15px;
  #{$el}-header{
    width: 360px;
    color: #f1ede4;
    font-size: 18px;
    text-decoration: underline;
    text-align: left;
    padding-left: 21px;
  }

  #{$el}-image{
    width: 100px;
    height: 100px;
    margin: 0 21px 21px 21px;
  }

  #{$el}-exit{
    a{
      color: #fff;
      font-size: 14px;
    }

  }
  border-radius: 15px;


}