= content_for :page_header do
  = header_back_btn tasks_path
  = header_title do
    h1 Новая задача


/= element_with_popup do
/- name = "js-ui-with-popup-id-#{Time.now.to_f.to_s.gsub('.', '')}"
/= content_tag :span, class: name do
/  = link_to 'react component', '#', class: 'js-react-popover'
/= content_for :popup_layout do
/  = react_component('ReactPopupComponent', { parent: ".#{name}" })
/- html = text_field_tag :test_component, 'hhh', class: 'vit-class'
/= react_popup_component('LikeButton', {html: html} )

= element_with_popup do
  = link_to 'react component', '#', class: 'js-react-popover'


= element_with_popup(popup: {body: '<input value="eee"/>'}) do
  = link_to 'react component', '#', class: 'js-react-popover'


= render 'form'

