= content_for :page_header do
  = header_back_btn tasks_path
  = header_title do
    h1 Новая задача


/= element_with_popup do
/- name = "js-ui-with-popup-id-#{Time.now.to_f.to_s.gsub('.', '')}"
/= content_tag :span, class: name do
/  = link_to 'react component', '#', class: 'js-react-popover'
/= content_for :popup_layout do
/  = react_component('ReactPopupComponent', { parent: ".#{name}" })
/- html = text_field_tag :test_component, 'hhh', class: 'vit-class'
/= react_popup_component('LikeButton', {html: html} )

= element_with_popup do
  = link_to 'react component', '#', class: 'js-react-popover'





css:
  .js-popup-layout{
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    background: rgba(255,0,0,0.2);
    overflow: visible;
  }

  .js-react-popup-component{
    width: 300px;
    height: 200px;
    background: rgba(255,0,0,0.3);
    left: 500px;
    top: 300px;
    position:absolute;
  }

/javascript:
  $(document).ready(function(){
    $('body').append('<div id="example"></div>')
    React.renderComponent(ReactPopupComponent({ parent: '.js-react-popover' }), document.getElementById('example'))
  });

= render 'form'

