// --------------------------------------------------
// BUTTONS
// --------------------------------------------------


// --------------------------------------------------
// Buttons styles.
.btn { @include btn-style; }
.btn-default { @include btn-style-default; }
.btn-primary { @include btn-style-primary; }


// --------------------------------------------------
// Link buttons

// Make a button look and behave like a link
.btn-link { @include btn-style-link; }



// --------------------------------------------------
// Block button


.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
