.link{
  @include btn-link-style($link-color, $link-hover-color);
}

.link-muted{
  @include btn-link-style($link-muted-color, $link-muted-hover-color);
}

.link-dashed{
  @include btn-link-style($link-color, $link-hover-color);
  &, &:hover, &:active, &:visited, &:focus{
    border-bottom: 1px dashed $link-color;

    min-height: initial; // for merge text and dashed
    line-height: initial; // for merge text and dashed

    display: inline-block;
    padding: 0;
    text-decoration: none;
  }

  &:hover, &:active, &:visited, &:focus{
    border-color: $link-hover-color;
  }
}