* {
  color: red
}


.js-popover-content{
  position: absolute;
  top: 100%;
//  display: none;

  width: auto;
  background: rgba(0,0,0,0.8);
  &:before{
    @include arrow-top(rgba(0,0,0,0.8));
  }
}

.b-user-info{

}