// TODO-tagir: мы не пишем к js-классам свойство украшательства. Только дефолтные состояния «скрыть» или «показать»
.js-popover-content{
  position: absolute;
  top: 100%;
  display: none;
  background: rgba(0,0,0,0.8); //default background-color
  width: auto;
  z-index: 999;
  border-radius: 15px;
  margin-top: 15px;
  &:before{
    @include arrow-top(rgba(0,0,0,0.8));
  }
}

