* {
//  color: red
}


.js-popover-content{
  position: absolute;
  top: 100%;
  display: none;
  background: rgba(0,0,0,0.8); //default background-color
  width: auto;
  z-index: 999;
  &:before{
    @include arrow-top(rgba(0,0,0,0.8));
  }
}

