$el: '.popup';

.popup{
  $popup-offset: 2*$dropdown-arrow-width-base;

  font-family: $font-family-sans-serif;
  top: $dropdown-arrow-width-base + 20px;
  right: -$popup-offset;

  width: auto;
  min-width: 400px;
  position: absolute;
  background: rgba(0, 0, 0, 0.8); //default background-color
  z-index: 999;
  border-radius: $border-radius-base;

  &.popup-right{
    top: -30px;
    left: 0;
    margin-left: 30px;

    &:before {
      @include arrow-left(rgba(0, 0, 0, 0.8));
      right: $popup-offset;
      left: -2*$dropdown-arrow-width-base;
      top: 30px + $dropdown-arrow-width-base/2;
    }
  }

  &:before {
    @include arrow-top(rgba(0, 0, 0, 0.8));
    right: $popup-offset;
    left: initial;
  }

  //  buttons
  #{$el}-btn {
    font-size: 16px;
    background: transparent;
    border: none;
    border-top: 1px solid #fff;
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 30px;
    @include links-all-states{
      color: #fff;
      text-decoration: none;
    }

    &:hover, &:active, &:focus{
      background: rgba(255,255,255,0.2);
    }
  }

  #{$el}-header{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    padding: 0 30px;
  }

  #{$el}-body{
    color: #fff;
    margin-bottom: 30px;
    padding: 0 30px;
  }

  #{$el}-fa{
    display: inline-block !important;
  }

  // инпуты внутри попапа
  .form-control{
    background-color: transparent;
    color: #fff;
  }
}


//
// _user-bar component
//


$el: '._user-bar';

#{$el} {

  font-family: open_sans, arial, sans-serif;

  &::before {
    right: 21px;
    left: auto;
  }

  #{$el}-status {
    color: #00e335;
    font-size: 13px;
    padding-left: 21px;

    margin-bottom: 6px;
    i {
      margin-right: 5px;
    }
  }

  .btn-group-vertical {
    .btn {
      border-top: #666666 solid 1px;

      text-align: left;

      border-radius: 0 !important;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: background 0.5s ease;
      &:hover {
        background: rgba(255, 255, 255, 0.91);
        color: #3C3A3A;
      }
      i {
        font-size: 22px;
        margin-right: 20px;
      }
    }

  }

  background: rgba(0, 0, 0, 0.8);
  right: 0;
  margin-top: 15px;
  #{$el}-header {
    width: 360px;
    color: #f1ede4;
    font-size: 18px;
    text-align: left;
    padding-left: 21px;
    text-decoration: none;
    margin-bottom: 6px;
  }

  #{$el}-image {
    width: 100px;
    height: 100px;
    margin: 0 21px 21px 21px;
  }

  #{$el}-exit {
    a {
      color: #fff;
      font-size: 14px;
    }

  }
  border-radius: 15px;

}