// --------------------------------------------------
// TEXTS
// --------------------------------------------------

.text, .text-default{
  font-size: $font-size-base;
}

.text-link{
  font-size: $link-font-size;
}

.text-help{
  font-size: $font-size-small;
  color: $input-label-color;
}

.text-title{
  font-size: $font-size-h2;
  font-family: $font-family-sans-serif-light;
}

.text-important{
  font-family: $font-family-sans-serif-bold;
  font-size: $font-size-base - 2px;
  color: $gray;
  text-transform: uppercase;
}

.text-heading-alt{
  color: $color-magenta;
}

// Contextual emphasis
.text-muted {
  color: $text-muted;
}
.text-primary {
  color: $brand-primary;
  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.text-warning {
  color: $state-warning-text;
  &:hover {
    color: darken($state-warning-text, 10%);
  }
}

.text-orange{
  color: $color-orange;
  &:hover {
    color: darken($color-orange, 10%);
  }
}

.text-danger, .text-red {
  color: $color-red;
}

.text-red-darker, .text-red-darker:hover {
  color: $color-red-darker;
}

.text-success, .text-green {
  color: $state-success-text;
  &:hover {
    color: darken($state-success-text, 10%);
  }
}
.text-info {
  color: $state-info-text;
  &:hover {
    color: darken($state-info-text, 10%);
  }
}

.text-gray{
  color: $color-gray;
  &:hover {
    color: darken($color-gray, 10%);
  }
}


.text-cyan{
  color: $color-cyan;
  &:hover {
    color: darken($color-cyan, 10%);
  }
}
.text-cyan{
  color: $color-cyan;
  &:hover {
    color: darken($color-cyan, 10%);
  }
}

.text-bold{
  font-weight: bold;
}

// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }