// --------------------------------------------------
// TEXTS
// --------------------------------------------------

.text, .text-default{
  font-size: $font-size-base;
}

.text-link{
  font-size: $link-font-size;
}

.text-help{
  font-size: $font-size-small;
  color: $input-label-color;
}

.text-title{
  font-size: $font-size-h2;
  font-family: $font-family-sans-serif-light;
}

.text-important{
  font-family: $font-family-sans-serif-bold;
  font-size: $font-size-base - 2px;
  color: $gray;
  text-transform: uppercase;
}

.text-heading-alt{
  color: $color-magenta;
}



@each $_color-name, $_color in $colors-map{
  .text-#{$_color-name}{
    color: $_color;
  }
}

.text-danger { @extend .text-red !optional; }
.text-info { @extend .text-asphalt !optional; }
.text-success { @extend .text-sea-green !optional; }
.text-muted { @extend .text-gray-d !optional; }
.text-primary { @extend .text-sea-green !optional; }
.text-warning { @extend .text-orange !optional; }

.text-bold{ font-weight: bold; }

// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }